.diagramsContainer {
  --transition-time: 0.2s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
  gap: 100px;
  margin: 50px;
}

.diagram {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  height: 200px;
  width: 255px;
}
.diagram h3 {
  background-color: var(--other-color);
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid;

  position: absolute;
  bottom: 0;
  left: 10px;

  z-index: 2;
  transition-duration: var(--transition-time);
}
.diagram ul {
  scrollbar-width: none;
  height: 0%;
  overflow: auto;
  display: flex;
  gap: 10px;
  padding: 0 10px;
  width: 100%;
  flex-direction: column;
  transition: height var(--transition-time);
}
.diagram ul::-webkit-scrollbar {
  width: 0;
}

.diagram ul li {
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--other-color);
  box-shadow: 0 0 10px -3px;
  border-radius: 10px;
}
.imge {
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  display: block;
  transition-duration: var(--transition-time);
  transform: scale3d(1, 1, 1);
  object-fit: cover;

  width: 80%;
}

.diagram:hover h3 {
  opacity: 0;
  transform: scale3d(0, 0, 0);
}
.diagram:hover .imge {
  height: 40px;
  width: 40px;
  top: -20px;
  left: -20px;
}

.diagram:hover ul {
  border-top: 2px solid;
  border-bottom: 2px solid;
  height: 100%;
}

.diagram:hover ul li {
  background-color: var(--other-color);
  box-shadow: 0 0 10px -3px;
  color: black;
}

@media (max-width: 770px) {
  .diagramsContainer {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 0 20px;
    margin: 0;
    font-size: 6rem;
  }

  .diagram {
    font-weight: bold;
    transform: scale3d(0.6, 0.6, 0.6);
  }
}
