.front {
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 6%;

    background-image: var(--background-gradient);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto 60vh;
    border-bottom-right-radius: 200px 100px;
    border-bottom-left-radius: 200px 100px;
    position: relative;
    transition: border-radius .5s;
    border: 1px solid;
    width: 100%;
}


.front>div {
    width: 50%;
}


.front h1 {
    font-size: 4rem;
    line-height: 4rem;
    color: beige;
    display: inline-block;
    margin-bottom: 20px;
}
.front div div {
    color: rgb(233, 233, 233);
    font-size: 1.3rem;
}

@media (orientation: portrait) {
    .front {
        padding: 5% 3% 10%;
        background-size: auto 80vh;
        border-bottom-right-radius: 100px 50px;
        border-bottom-left-radius: 100px 50px;
    }

    .front>div {
        width: 100%;
    }
    .front h1 {
        font-size: 2rem;
        line-height: 2rem;
        color: beige;
        display: inline-block;
        margin-bottom: 20px;
        text-align: center;
    }
    .front div div {
        color: rgb(233, 233, 233);
        font-size: .7rem;
    }
}