.header {
    position:absolute;
    top: 0;
    right: 0;
    padding: 15px 0;
    font-size: 1.3rem;
    border-radius: 0 0 0 var(--border-primary);
    background-color: transparent;
    transition-duration: var(--time-transition);
    transition-property: all;
    transition-timing-function: linear;
    /* transition-property: padding, width, top,right,gap; */
    z-index: 10;

}

.nav {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 30px;
}

/* Al scrollear */
.header_srll {
    position: fixed;
    right: 10px;
    top:33%;
    font-size: 1rem;
    /* width: 200px; */
    padding: 0;
    border-radius: var(--border-primary);
    background-color: var(--secondary-color);
    z-index: 10;
}

.nav_srll {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

@media (orientation: portrait) {
    
    .header {
        position:fixed;
        top: auto;
        bottom: 0;
        right: 0;
        padding: 0;
        font-size: .8rem;
        border-radius: 0 0 0 var(--border-primary);
        background-color: var(--primary-color);
        transition-duration: 0;
        transition-property: none;
        transition-timing-function: none;
        /* transition-property: padding, width, top,right,gap; */
        z-index: 10;
    
    }
    
    .nav {
        display: flex;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        gap: 0;
        padding: 0;
    }

    .header_srll {
        z-index: 10;
        position: fixed;
        right: 0;
        top: auto;
        bottom: 0;
        font-size: 1rem;
        /* width: 200px; */
        padding: 0;
        border-radius: var(--border-primary);
        background-color: var(--primary-color);
        border-radius: 0 0 0 var(--border-primary);
    }
    
    .nav_srll {
        display: flex;
        font-size: .8rem;

        flex-direction: row;
        align-items: center;
        gap: 0;
        padding: 0;
    }
}