.header {
    position:absolute;
    top: 0;
    right: 0;
    padding: 15px 0;
    font-size: 1.3rem;
    border-radius: 0 0 0 var(--border-primary);
    background-color: transparent;
    transition-duration: var(--time-transition);
    transition-property: all;
    transition-timing-function: linear;
    /* transition-property: padding, width, top,right,gap; */
    z-index: 2;

}

.nav {

    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 30px;
}

/* Al scrollear */
.header_srll {
    position: fixed;
    right: 10px;
    top:33%;
    font-size: 1rem;
    /* width: 200px; */
    padding: 0;
    border-radius: var(--border-primary);
    background-color: var(--secondary-color);
}

.nav_srll {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}