.container {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    --block-width: 100%;
    --bock-margin: 0 auto 20px;
    /* para la imagen */
    --img-width: 40vw;
}
.container>* {
    width: 100%;
}
.subContainer {
    width:70%;
    margin: 0 auto;
}
.link {
    display: flex;
    justify-content: center;
}
.child_page {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 5px -1px;
    margin: var(--bock-margin);
    padding: 10px;
    filter: opacity(75%);
    color: black;
    border-radius:  var(--border-radius);
    border: 1px solid;
}
.child_page:hover {
    filter: opacity(100%);

}
.child_page:active {
    box-shadow: inset 1px 1px 5px -1px ;
}
.callout {
    --padding-left-callout: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--padding-left-callout)*4);
    justify-content: center;
    position: relative;
    margin: var(--bock-margin);
    height: auto;
    width: var(--block-width);
    padding: calc(var(--padding-left-callout)*4 ) 0;
}

.callout::before {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    content: '';
    width: 100%;
    height: 100%;
}
.callout::after {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.747);
    content: '';
    width: 100%;
    height: 90%;
}
.callout .text {
    width: 90%;
}
.icon {
    position: relative;
    z-index: 5;
    /* top: 10px; */
    font-size: 1.5rem;
}
.quote {
    position: relative;
    margin: var(--bock-margin);
    width: var(--block-width);
    --padding-left-quote: 6px;
    padding: calc(var(--padding-left-quote)*2 ) calc(var(--padding-left-quote)*3 );
    border-bottom-right-radius: calc(var(--border-radius)/1.9);
    border-top-right-radius: calc(var(--border-radius)/1.9);
}

.quote::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    content: ' ';
    border-bottom-right-radius: calc(var(--border-radius)/2);
    border-top-right-radius: calc(var(--border-radius)/2);
    width: 100%;
    height: 100%;
}
.quote::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    content: ' ';
    width: var(--padding-left-quote);
    height: 100%;
}
.text {
    position: relative;
    z-index: 3;
    color: rgb(34, 31, 31);
}

.paragraph {
    padding: 3px 0 ;
}

.viwPortVideo {
    /* overflow: hidden; */
    position: relative;
    background-color: black;
    --largo : 40vw;
    width: var(--largo); 
    height: calc(var(--largo) / 1.8); 
    margin: var(--bock-margin);
}
.viwPortVideo a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 20%;
    left: 0;
    padding: 15px;
    font-size: .8rem;
    word-wrap: break-word;
    color: aliceblue;
    background-color: hsla(0, 0%, 0%, 0.7);
    border-radius: 0 20px;
    opacity: 0;
    transition: opacity .5s;
}
.viwPortVideo:hover a {
    position: absolute;
    opacity: 1;
    left: 0;
}

.componentImage {
    margin: var(--bock-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.componentImage div {
    position: relative;
    width: var(--img-width); 
    height: calc(var(--img-width) / 1.8); 
}
.lessComponentImage {
    object-fit: contain;
    width: var(--img-width); 
    margin: var(--bock-margin);
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.lessComponentImage img {
    object-fit: contain; 
    width: var(--img-width); 
    height: calc(var(--img-width) / 1.8); 
}

.list:nth-child(n) {
    padding-left: 20px;
    margin: var(--bock-margin);
}

/* todo para arreglar despues x.x */
/* .nav {
    background-color: var(--primary-color);
    position: relative;
    height: 80px;
    width: 100vw;
    display: flex;
} */

.indexNotas {
    /* border: 1px solid; */
    /* border: 3px solid gray; */
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between ; */
    width: 50%;
    gap: 0 20px;
    padding: 10px;
    margin: 0 auto;
    /* transition-property: width border-radius; */
    /* transition-duration: .5s; */
}

.containerCode {
    width: var(--block-width);
    margin: var(--bock-margin);
    background-color: hsla(234, 38%, 16%, .8);
    background-color: --primary-color;
    color: aliceblue;
    padding: 30px;
    overflow-y: hidden;
    overflow-x: auto;
}
.containerCode .textCode {
    font-family:monospace;
    word-wrap: break-word;

}

/* MOBILE */
@media (orientation: portrait) {
    .indexNotas {
        width: 100%;
    }

    .container {
        width: 95vw;
        --img-width-m: 80vw;
    }
    .subContainer {
        width: 80%;
    }
    .viwPortVideo {
        --largo : 80vw;
        width: var(--largo); 
        height: calc(var(--largo) / 1.8); 
        margin: var(--bock-margin);
    }
    .componentImage div {
        width: var(--img-width-m); 
        height: calc(var(--img-width-m) / 1.8); 
    }
    .lessComponentImage {
        width: var(--img-width-m); 
        margin: var(--bock-margin);
    }
    .lessComponentImage img {
        width: var(--img-width-m); 
        height: calc(var(--img-width-m) / 1.8); 
    }
}